.ace-app-shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.ace-app-shell__content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg);
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
